@import url("https://unpkg.com/@geist/font/style.css");

@import "tailwindcss";

* {
  font-family: 'Geist', sans-serif;
}


.mobile-only{
  max-width: 768px;
  margin: 0 auto;
  background: white;
  min-height: 100vh;
  padding: 0 1rem;
}

